APP_NAME=AI Support Hub
APP_VERSION=0.1.0
DEBUG=True

DATABASE_URL=postgresql+psycopg://ai_support_user:password@localhost:5432/ai_support_hub
TEST_DATABASE_URL=postgresql+psycopg://ai_support_user:password@localhost:5432/ai_support_hub_test
SECRET_KEY=change-this-in-production

CORS_ORIGINS=http://localhost:3000